<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DGMA{% endblock title %}</title>
</head>
<body>
    <!-- Header -->
    <header>
        
    </header>
    <!-- Main -->
    <main>
        {% block content %}{% endblock content %}
    </main>
    <!-- Footer -->
    <footer>
        {% block footer %}{% endblock footer %}
    </footer>
    <!-- Javascript -->
        {% block javascript %}
            <script src="js/script.js"></script>
        {% endblock javascript %}
</body>
</html>